<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ htmllang() }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ htmllang() }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
      {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
      {{ app.config.get('general/sitename') }}
      {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="{{ paths.theme }}css/normalize.css">
  <link rel="stylesheet" href="{{ paths.theme }}css/foundation.css">
  
  <script src="{{ paths.theme }}js/vendor/modernizr.js"></script>

</head>
<body>

<div class="contain-to-grid">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ paths.root }}">{{ app.config.get('general/sitename') }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">

        {{ menu('main', '_sub_menu.twig') }}

   </ul>
       
      </ul>
      <ul class="right">
      {% include '_sub_searchbox.twig' %}
    </ul>
    </section>

  </nav>
</div>

  <!-- End Header and Nav -->
