{% include '_header.twig' %}

<div class="row" style="margin-top: 25px;">
    <div class="large-8 columns" style="padding-left: 0; padding-right: 0; z-index: 8;">

        
{% if record.video is not empty %}
<div class="flex-video" style="padding-left: 0; padding-right: 0;">
                {{ record.video.responsive }}
            </div>
                {% else %}
                {% if record.image is defined and record.image is not empty %}
                <div class="four columns imageholder" style="padding-left: 0; padding-right: 0;">
                    <a href="{{ image(record.image) }}" class="fancybox">
                        <img src="{{ thumbnail(record.image, 1000, 700) }}" style="padding: 0em;">
                    </a>
                </div>
            {% endif %}
        {% endif %}

        <div class="four columns imageholder" style="padding-top: 12px;">

            {% if Disqus is defined %}
                {# Show the Disqus comment box, if the Disqus extension is installed .. #}
                <h4>Leave a comment</h4>
                {{ Disqus.disqus() }}
                <hr>
            {% elseif FacebookComments is defined %}
                {# Show the Facebook comment box, if Facebookcomments extension is installed .. #}
                <h4>Leave a comment</h4>                
                {{ FacebookComments.facebookComments() }}            
                <hr>
            {% endif %}

         </div>   
    </div>

    <div class="large-4 columns" style="padding-left: 0; padding-right: 0;">
        <div class="panel" style="padding: 0.75em">

            <h2 style="text-align: center;">{{ record.title }}</h2>

            {# display something introduction-like.. #}
            {% if record.introduction %}
            {{ record.introduction }}
            {% elseif record.teaser %}
                {{ record.teaser }}
            {% else %}
                <p>{{ record.excerpt(1000) }}</p>
            {% endif %}

            {# if the entry has a video, display it. #}

            {{ record.body }}

            {% include '_recordfooter.twig' with {record: record} %}

            <p class="meta">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
                {% endif %}
                -
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
                {% endif %}
            </p>

			</div>

    </div>
    <br>  

    </div>

    {% include '_footer.twig' %}