{% include '_header.twig' %}

<div class="row" style="margin-top: 25px;">

        {% for record in records %}
    <div class="large-6 columns">
      <div class="panel" style="text-align: center;">
        {% if record.image!="" %}
        <a href="{{ record.link }}">
          <img src="{{ thumbnail(record.image, 800, 600) }}" style="padding: 0em;"/>
        </a>
        {% endif %}
        <h3 style="margin-bottom: 0px;">{{ record.title }}</h3>
        <p style="margin-bottom: 0px;">{{ record.excerpt(100) }}</p>
        <a href="{{ record.link }}" class="button radius tiny">Voir plus ...</a>
        <br>
      </div>
    </div>
    



        {% else %}
    <article>
        <h2>No content found.</h2>

        <p>
            Unfortunately, no content could be found. Try another page, or go to the
            <a href="{{ paths.root }}">homepage</a>.
        </p>

        {#
        optionally, you can redirect the browser to another page. Just uncomment the next line to do so.
        {{ redirect('/') }}
        #}

    </article>

      
    {% endfor %}
</div>
    {# If there are more records than will fit on one page, the pager is shown. #}

    <br>
    <div class="row">
    {{ pager() }}
</div>


    </div>
<br>
    {% include '_footer.twig' %}